{% extends "general/base.html" %}

{% block content %}

<!-- TODO: Strike-through headings as they're completed for the semester? -->

{% if user.is_authenticated %}
<a href="{% url 'elections:ois_submission' %}"> ois submission </a><br>
<a href="{% url 'elections:ois_results' %}"> ois results </a><br>
<a href="{% url 'elections:loi_submission' %}"> loi submission </a><br>
<a href="{% url 'elections:loi_results' %}"> submitted lois </a><br>
<a href="{% url 'elections:slating_submission' %}"> slating </a><br>
<a href="{% url 'elections:voting_submission' %}"> voting </a><br>

{% else %}
{% endif %}

<!-- A superuser can also see results of slating and voting  -->
{% if user.is_superuser %}
<div id="elections-navigation-superuser">
  <br><p>superuser options:</p>
  <a href="{% url 'elections:slating_results' %}">  slating results </a><br>
  <a href="{% url 'elections:voting_results' %}"> voting results </a>
</div>
{% endif %}

{% endblock content %}