{% extends "general/base.html" %}

{% block content %}

{% if ois_closed %}
  <p> Sorry, OIS submission is closed now! </p>
{% elif submitted %}
  <p> Thanks for submitting your OIS! </p>
{% else %}

  <!-- If there's an error, display the error message also. -->
  {% if error %}
    <p> Make sure to select a choice for every position! </p>
  {% endif %}

    <p> Instructions: Please indicate your interest level in each position below. This form isn't at all binding and you're required to fill it out to participate in voting later! </p>

    <form action="{% url 'elections:ois_submission' %}" method="post">
      {% csrf_token %}

      {% for office in offices %}
        <p> {{ office.title }} </p>
        <p> {{ office.description }} </p>


        <input type="radio" name="{{ office.id }}" value="yes"/>
        <label>Yes</label>
        <input type="radio" name="{{ office.id }}" value="no"/>
        <label>No</label>
        <input type="radio" name="{{ office.id }}" value="maybe"/>
        <label>Maybe</label>

      {% endfor %}

      <input type="submit" value="Submit" />

    </form>

{% endif %}

{% endblock content %}