{% extends "general/base.html" %}

{% block content %}

<div id='events-content'>

<h2 class='att-title first-title'> Slating Submission </h2>

 {% if slating_closed %}
   <p> Sorry, slating submission is closed now! </p>
 {% elif has_slated %}
   <p> Congrats on already submitting your slate! </p>
 {% else %}
   <p> Submit your slate here! </p>

      <!-- TODO: Fix indentation -->

     {% regroup lois by office as grouped_lois %}

     <form method="post" action="">
       {% csrf_token %}

        {% for office in grouped_lois %}

           <h2 class='att-title first-title'> {{office.grouper.title}} </h2>

           <table class="event-table">
             <tr>
               <th> Sister(s) </th>
               <th> LOI </th>
             </tr>
             {% for loi in office.list %}
             <tr>
               <td> {{ loi.names_of_sisters }} </td>
               <td> {{ loi.loi_text }} </td>
             </tr>
             {% endfor %}
           </table>

           <p> Select your two favorite candicates for {{office.grouper.title}}. A second vote for the same candidate will not be counted.</p>

           <select name="{{office.grouper.id}}_vote_1">
             <option value="Abstain">Abstain</option>
             {% for loi in office.list %}
               <option value="{{loi.id}}">{{loi.names_of_sisters}}</option>
             {% endfor %} 
           </select>

           <select name="{{office.grouper.id}}_vote_2">
             <option value="Abstain">Abstain</option>
             {% for loi in office.list %}
               <option value="{{loi.id}}">{{loi.names_of_sisters}}</option>
             {% endfor %} 
           </select>

           <!-- TODO: Style page correctly -->

      {% endfor %}

      <br>
      <br>

      <input type="submit" value="Submit" />

      <br>
      <br>
      <br>
      <br>

   </form>


 {% endif %}

</div>

{% endblock content %}
