{% extends "general/base.html" %}

{% block content %}

           <!-- TODO: Style page correctly -->
           <!-- TODO: Fix indentation -->

<div id='events-content'>
  <h2 class='att-title first-title'> Voting Settings </h2>

  <p> Choose who you want to be displayed as candidates for each position here. </p>

  <p> You can use the selection boxes to add candidates. </p>

  <!-- TODO: Restrict to two checkboxes -->

  <form action="{% url 'elections:voting_settings' %}" method="post">
    {% csrf_token %}

    {% for office, results in slating_results.items %}

      <h3 class='att-title first-title'> {{office}} </h3>
      <table class='event-table'>
        <tr>
          <th> Candidates </th>
          <th> Number of votes from slating </th>
          <th> Select this candidate for voting </th>
        </tr>
        {% for loi, num_votes in results.items %}
          <tr>
            <td> {{loi.names_of_sisters}} </td>
            <td> {{num_votes}} </td>
            <td>
              <input type="checkbox" name="{{ office.id }}" value="{{loi.id}}"/>
            </td>
            <!-- TODO: Sort by number of votes -->
          </tr>
        {% endfor %}

        <tr>  
          <td>    
            <select name="custom-candidates-1" multiple="true">
              {% for sister in sisters %}
              <option value="{{sister.id}}"> {{sister}} </option>
              {% endfor %}
            </select>
          </td>
          <td></td>
          <td>
            <input type="checkbox" name="{{ office.id }}" value="custom-candidates-1"/>
            <!-- TODO: Not sure if the names of sistes
              will work for the value but we'll see -->
          </td>
        </tr>

        <tr>  
          <td>    
            <select name="custom-candidates-2" multiple="true">
              {% for sister in sisters %}
              <option value="{{sister.id}}"> {{sister}} </option>
              {% endfor %}
            </select>
          </td>
          <td></td>
          <td>
            <input type="checkbox" name="{{ office.id }}" value="custom-candidates-2"/>
            <!-- TODO: Not sure if the names of sistes
              will work for the value but we'll see -->
          </td>
        </tr>

      </table>

    {% endfor %}


  <br>
  <br>

  <input type="submit" value="Submit" />

  <br>
  <br>



</form>



<!--
  TODO:
  Default checkboxes on the top two slating candidates.

  After she's submitted a selection, checkboxes should
  be on the ones she's submitted.
-->


<!--

          <input type="radio" name="{{ office.id }}" value="0"/>
          <label>Yes</label>
          <input type="radio" name="{{ office.id }}" value="1"/>
          <label>Maybe</label>
          <input type="radio" name="{{ office.id }}" value="2"/>
          <label>No</label>
        -->

{% endblock content %}