{% extends "general/base.html" %}

{% block content %}

           <!-- TODO: Style page correctly -->
           <!-- TODO: Fix indentation -->


<h2 class='att-title first-title'> Voting Settings </h2>

<p> Choose who you want to be displayed as candidates for each position here. </p>

<!--
  LAYOUT:
  
  For each office, show everyone who submitted an LOI
  and how many votes they got from slating.

  Also show two things that let you select any people
  you want, similar to how you choose candidates in an LOI.

  Show checkboxes next to each of them, and VP CRS
  will check which ones she wants as candidates.

  Default checkboxes on the top two slating candidates.

  After she's submitted a selection, checkboxes should
  be on the ones she's submitted.
-->



{% endblock content %}