<!doctype html>

<head>
  <title>{% block title %}{% endblock %}Alpha Chi Omega &ndash; Theta Omicron Chapter</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'general/style.css' %}" />

</head>

<body>
  <div id="container">

    <h2> AXO Attendance </h2>


    <div id="navigation">
      <!-- Anyone can go to the homepage -->
      <a href="{% url 'attendance:index' %}"> Home </a>

      <!-- Any user can see their attendance and log out/in -->
      {% if user.is_authenticated %}
        <a href="{% url 'attendance:personal_record' %}"> Attendance for {{ user.username }} </a>
        <a href="{% url 'attendance:logout' %}"> Logout </a>
      {% else %}
        <a href="{% url 'attendance:login' %}"> Login </a>
      {% endif %}

      <!-- A superuser can also see pending excuses and mark people as attending -->
      {% if user.is_superuser %}
      <div id="navigation-superuser">
        <a href="{% url 'attendance:events' %}">  All Events </a>
        <a href="{% url 'attendance:excuse_pending' %}"> Pending Excuses </a>
      </div>
      {% endif %}

    </div>


    {% block content %}
    {% endblock %}

  </div>

</body>