<!doctype html>

<head>
  <title>{% block title %}{% endblock %}Alpha Chi Omega &ndash; Theta Omicron Chapter</title>
</head>

<body>
  <div id="container">

    <h2> AXO Attendance </h2>

    
    <div id="navigation">
      <a href="{% url 'attendance:index' %}"> Home </a>
      <a href="{% url 'attendance:events' %}"> See All Events </a>
      {% if user.is_authenticated %}
        <a href="{% url 'attendance:personal_record' %}"> See My Attendance </a>
        <a href="{% url 'attendance:logout' %}"> Logout </a>
        <p> Your username: {{ user.username }} </p>
      {% else %}
        <a href="{% url 'attendance:login' %}"> Login </a>
      {% endif %}
    </div>


    {% block content %}
    {% endblock %}

  </div>

</body>