{% extends "general/base.html" %}


{% block content %}

<div id='events-content' style='margin-top: -30px'>
  <div class='att-title first-title'>
    <h3> {{ event }} </h3>

    attended: {{ percent_attended }}% &nbsp;&nbsp;•&nbsp; excused: {{ percent_excused }}% &nbsp;&nbsp;•&nbsp; absent: {{ percent_absent }}%
  </div>
  <table class='event-table'>
  <tr>
    <th> Sister </th>
    <th> Attended? </th>
    <th> Excused? </th>
  </tr>
{% for sister in event.sisters_required.all %}
  <tr>
    <td> {{ sister }} </td>
    {% if sister in event.sisters_attended.all %}
      <td>
        Yes!
        <form action="{% url 'attendance:uncheck_sister' event.id sister.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Uncheck" class='gen-btn'/>
        </form>
      </td>
    {% else %}
      <td> 
        <form action="{% url 'attendance:checkin_sister' event.id sister.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Check In" class='gen-btn'/>
        </form>
      </td>
    {% endif %}

    {% if sister in event.sisters_excused.all %}
      <td> Excused </td>
    {% elif sister in event.sisters_freebied.all %}
      <td> Freebied </td>
    {% else %}
      <td> -- </td>
    {% endif %}

  </tr>
  {% endfor %}
</table>
</div>

{% endblock content %}