{% extends "general/base.html" %}


{% block content %}

{% if events %}

  <table>
    <tr>
      <th> Name </th>
      <th> Date </th>
      <th> Is Mandatory </th>
      <th> Activation? </th>
    </tr>
    {% for event in events %}
        <tr>
          <td>
            {% if event.is_activated %}
              <a href="{% url 'attendance:event_details' event.id %}">
                {{ event.name }}
              </a>
            {% else %}
              {{ event.name }}
            {% endif %}
          </td>
          <td> {{ event.date }} </td>
          <td> {{ event.is_mandatory }} </td>
          <!-- Activate Button -->
          <td>
            {% if event.is_activated %}
              Activated!
            {% else %}
              <form action="{% url 'attendance:activate' event.id %}" method="post">
                {% csrf_token %}
                <select name="activate_group">
                  <option value="all"> All Actives </option>
                  <option value="new_members"> New Members Only </option>
                  {% for year in years %}
                  <option value="{{year}}"> {{year}}s Only </option>
                  {% endfor %}
                </select>
                <input type="submit" value="Activate" />
              </form>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
    </table>

  <p> When you click the 'Activate' button, all members that are active and are part of the selected group will be recorded as possible attendees. For example, if you choose a class year, then all memebers of that class year who aren't abroad will be possible attendees. </p>

{% else %}
    <p>No events are available.</p>
{% endif %}


{% endblock content %}