{% if events %}

  <table>
    <tr>
      <th> Name </th>
      <th> Date </th>
      <th> Is Mandatory </th>
    </tr>
    {% for event in events %}
        <tr>
          <td>
            {% if event.is_activated %}
              <a href="{% url 'attendance:checkin' event.id %}">
                {{ event.name }}
              </a>
            {% else %}
              {{ event.name }}
            {% endif %}
          </td>
          <td> {{ event.date }} </td>
          <td> {{ event.is_mandatory }} </td>
          <!-- Activate Button -->
          <td>
            {% if event.is_activated %}
              Activated!
            {% else %}
              <a href="{% url 'attendance:activate' event.id %}"> Activate Now </a>
            {% endif %}
          </td>
          <!-- TODO: Use a form + POST to do that instead
            <form action="{% url 'attendance:activate' event.id %}" method="POST">
              {% csrf_token %}
              <input id="activate_button" name="activate" type="button" value="Activate" />
            </form>
          -->
          </td>
        </tr>
    {% endfor %}
    </table>

  <p> When you click the 'Activate' button, all members that are active will be recorded as possible attendees. </p>

{% else %}
    <p>No events are available.</p>
{% endif %}