{% extends "general/base.html" %}


{% block content %}

<h3> {{ event }} </h3>

attended: {{ percent_attended }}% &nbsp;&nbsp;•&nbsp; excused: {{ percent_excused }}% &nbsp;&nbsp;•&nbsp; absent: {{ percent_absent }}%

<table>
  <tr>
    <th> Sister </th>
    <th> Attended? </th>
    <th> Excused? </th>
  </tr>
{% for sister in event.sisters_required.all %}
  <tr>
    <td> {{ sister.user.username }} </td>
    {% if sister in event.sisters_attended.all %}
      <td> Yes! </td>
    {% else %}
      <td> 
        <form action="{% url 'attendance:checkin_sister' event.id sister.id %}" method="post">
          {% csrf_token %}
          <input type="submit" value="Check In" />
        </form>
      </td>
    {% endif %}

    {% if sister in event.sisters_excused.all %}
      <td> Excused </td>
    {% elif sister in event.sisters_freebied.all %}
      <td> Freebied </td>
    {% endif %}

  </tr>
  {% endfor %}
</table>

{% endblock content %}