{% extends "general/base.html" %}


{% block content %}

<!-- TODO: This is duplicate code from personal_record page. -->
<div id="semester-tabs">
&nbsp;&nbsp;•&nbsp;
{% for semester in semesters %}
  <!-- Color currently selected semester green -->
  {% if semester.id == current_semester.id %}
    <a href="{% url 'attendance:events' semester.id %}" style="color: #843535">
  {% else %}
    <a href="{% url 'attendance:events' semester.id %}">
  {% endif %}
   {{ semester }}</a>&nbsp;&nbsp;•&nbsp;
{% endfor %}
</div>


{% if events %}
<div id='events-content'>
  <h2 class='att-title first-title'> All Events </h2>
  <table class='event-table'>
    <tr>
      <th> Event </th>
      <th> Is Mandatory? </th>
      <th> Activation? </th>
    </tr>
    {% for event in events %}
        <tr>
          <td>
            {% if event.is_activated %}
              <a href="{% url 'attendance:event_details' event.id %}">
                {{ event }}
              </a>
            {% else %}
              {{ event }}
            {% endif %}
          </td>
          {% if event.is_mandatory %}
            <td> Yes </td>
          {% else %}
            <td> No </td>
          {% endif %}
          <!-- Activate Button -->
          <td>
            {% if event.is_activated %}
              Activated!
            {% else %}
              <form action="{% url 'attendance:activate' event.id %}" method="post">
                {% csrf_token %}
                <select name="activate_group">
                  <option value="all"> All Actives </option>
                  <option value="new_members"> New Members Only </option>
                  {% for year in years %}
                  <option value="{{year}}"> {{year}}s Only </option>
                  {% endfor %}
                </select>
                <input type="submit" value="Activate" class='gen-btn'/>
              </form>
            {% endif %}
          </td>
        </tr>
    {% endfor %}
    </table>

    <br>

  <p style='width: 650px; margin: auto'> When you click the 'Activate' button, all members that are active and are part of the selected group will be recorded as possible attendees. For example, if you choose a class year, then all members of that class year who aren't abroad will be possible attendees. </p><br>
</div>
{% else %}
    <p>No events are available.</p>
{% endif %}


{% endblock content %}