{% extends 'general/base.html' %}

{% block content %}

{% if success %}
  <p> Your excuse for {{ event }} has been successfully submitted. <p>
{% else %}

  <p> Excuse for {{ event }}: </p>

  <form action="{% url 'attendance:excuse_submit' event.id %}" method="post">
    {% csrf_token %}
    <p><textarea name="excuse" cols="40" rows="2"></textarea></p>
    {% if used_freebie %}
    {% else %}
      <p><input type="checkbox" name="is_freebie"> Using a freebie </input></p>
    {% endif %}
    <p><input type="submit" value="Submit Excuse" /></p>
  </form>

  {% if used_freebie %}
    <p> You've already used your freebie for the semester! </p>
  {% else %}
    <p> Remember that you can only use one freebie per semester and that they can only be used for chapter. Freebies allow to receive 100% of the points for chapter without attending. </p>
  {% endif %}

{% endif %}

{% endblock %}