<h2 class='att-title'> Past </h2>
<br>
<p> Overall attendance for past events this semester: {{ percentage }} </p>
<br>
<table class='event-table event-table-past' style='margin-top: -20px;'>
  <tr>
    <td></td>
    <td>
      <b> Total earned points: </b></td>
    <td>
      <b> {{ overall_earned_points }} </b></td>
    <td>
      <b> {{ overall_total_points }} (Mandatory Only) </b></td>
    <td> </td>
  </tr>
  <tr>
    <th> Events (Past) </th>
    <th> Attendance </th>
    <th> Earned Points </th>
    <th> Total Points </th>
    <th> Mandatory? </th>
  </tr>
{% for event in past_events %}
  <tr>
    <td> {{ event }} </td>

    {% if sister in event.sisters_attended.all %}
      <td> Attended </td>
    {% elif sister in event.sisters_freebied.all %}
      <td> Used Freebie </td>
    {% elif sister in event.sisters_excused.all %}
      <td> Excused </td>
    {% elif sister in event.sisters_required.all %}
      <!-- They were supposed to be there but weren't listed
      as excused or attended -->
      <td> Missed </td>
    {% else %}
      <td> Not Required To Attend </td>
    {% endif %}

    <td> {{ event.earned_points}} </td>

    <td> {{ event.points }} </td>

    {% if event.is_mandatory %}
      <td> Yes </td>
    {% else %}
      <td> No </td>
    {% endif %}

  </tr>
{% endfor %}
  <!-- Row to show sum of earned points + total points -->
  <!-- <tr>
    <td></td>
    <td style="border-top: 1px solid #000">
      <b> Totals: </b></td>
    <td style="border-top: 1px solid #000">
      <b> {{ overall_earned_points }} </b></td>
    <td style="border-top: 1px solid #000">
      <b> {{ overall_total_points }} (Mandatory Only) </b></td>
    <td> </td>
  </tr> -->


</table>

<br> 