<br>
<h1> Past </h1>
<br>
<p> Overall attendance for past events this semester: {{ percentage }} </p>
<br>
<table class='event-table event-table-past'>
  <tr>
    <th> Event </th>
    <th> Attendance </th>
    <th> Points</th>
    <th> Mandatory? </th>
  </tr>
{% for event in past_events %}
  <tr>
    <td> {{ event }} </td>
    {% if sister in event.sisters_attended.all %}
      <td> Attended </td>
    {% elif sister in event.sisters_excused.all %}
      <td> Excused </td>
    {% elif sister in event.sisters_required.all %}
      <!-- They were supposed to be there but weren't listed
      as excused or attended -->
      <td> Missed </td>
    {% else %}
      <td> Not Required To Attend </td>
    {% endif %}
    <td> {{ event.points }} </td>
    {% if event.is_mandatory %}
      <td> Yes </td>
    {% else %}
      <td> No </td>
    {% endif %}
  </tr>
{% endfor %}


</table>

<br> 

<p> Your attendance percentage is calculated out of all points for mandatory events that you were expected to attend. </p>