<h2> Past Events </h2>
<table>
  <tr>
    <th> Event </th>
    <th> Attendance </th>
  </tr>
{% for event in past_events %}
  <tr>
    <td> {{ event }} </td>
    {% if sister in event.sisters_attended.all %}
      <td> Attended </td>
    {% elif sister in event.sisters_excused.all %}
      <td> Excused </td>
    {% elif sister in event.sisters_required.all %}
      <!-- They were supposed to be there but weren't listed
      as excused or attended -->
      <td> Missed </td>
    {% else %}
      <td> Not Required To Attend </td>
    {% endif %}
  </tr>
{% endfor %}
</table>