{% extends "general/base.html" %}

{% block content %}

<div id="semester-tabs">
&nbsp;&nbsp;•&nbsp;
{% for semester in semesters %}
  <!-- Color currently selected semester green -->
  <!-- TODO: Better way to do this? -->
  {% if semester.id == current_semester.id %}
    <a href="{% url 'attendance:personal_record' semester.id %}" style="color: #A40909">
  {% else %}
    <a href="{% url 'attendance:personal_record' semester.id %}">
  {% endif %}
   {{ semester }}</a>&nbsp;&nbsp;•&nbsp;
{% endfor %}
</div>


{% include 'attendance/past_event_table.html' %}

<h1> Upcoming </h1>

<table class='event-table'>
  <tr>
    <th> Event </th>
    <th> Excuse </th>
    <th> Excuse Status</th>
  </tr>
  {% for item in future_events_and_excuses %}
    {% if item.points %}
    <!-- It's an event -->
    <tr>
      <td> {{ item }} </td>
      <!-- Submit Excuse Button -->
      <td>
        <a href="{% url 'attendance:excuse_submit' item.id %}"> submit excuse </a>

      </td>
      <td> n/a </td>
    </tr>
    {% else %}
    <!-- It's an excuse -->
    <tr>
      <td> {{ item.event }} </td>
      <td> {{ item.text }} </td>
      <td> {{ item.get_status_display }} </td>
    </tr>
    {% endif %}

  {% endfor %}
</table>

{% endblock content %}