{% extends "general/base.html" %}

{% block content %}

{% include 'attendance/semester_tabs.html' %}

<br>
<div id='att-content'>


  <h2 class= 'att-title first-title'> Upcoming </h2> <br>

  <p> You only have the option to submit excuses for mandatory events. </p>

  <!-- Only display submit excuse button if it’s not activated + mandatory or if it’s activated + they’re in sisters_required -->

  <table class='event-table'>
    <tr>
      <th> Event </th>
      <th> Excuse </th>
      <th> Excuse Status</th>
    </tr>
    {% for item in future_events_and_excuses %}
      {% if item.name %}
      <!-- It's an event -->
      <tr>
        <td> {{ item }} </td>
        <!-- Display 'submit excuse button' if it's a mandatory event -->
        {% if item.is_mandatory %}
          <!-- Submit Excuse Button -->
          <td>
            <a href="{% url 'attendance:excuse_submit' item.id %}"> submit excuse </a>

          </td>
        {% else %}
          <td> -- </td>
        {% endif %}
        <td> n/a </td>
      </tr>
      {% else %}
      <!-- It's an excuse -->
      <tr>
        <td> {{ item.event }} </td>
        <td> {{ item.text }} </td>
        <td> {{ item.get_status_display }} </td>
      </tr>
      {% endif %}

    {% endfor %}
  </table>
  
  {% include 'attendance/past_event_table.html' %}

  {% include 'attendance/extra_points_table.html' %}


</div>
  {% endblock content %}