h2 {
    font-size: 160%;
}

hr {
    border-color: #A0A0A0;
    width: 400px;
}
a{
    color: #000;
    font-weight: bold;
}
a:hover{
    color: #A40909;
    text-decoration: none;
}
#block {
    text-align: center;
    margin: auto;
}
#title {
    letter-spacing: 3px;
    font-weight: bold;
}

#subtitle{
    letter-spacing: 2px;
    font-weight: bold;
}
#container {
    padding-top: 30px;
    text-align: center;
    margin: auto;
}

#attendance {
    display: inline-block;
}

#elections {
    padding-left: 30px;
    display: inline-block;
}

#house {
    padding-left: 30px;
    display: inline-block;
}

#resources {
    padding-left: 30px;
    display: inline-block;
}

#credits {
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 100%;
    text-align: center;
}
#credits a{
    font-weight: normal;
}

input[type=submit]{
    background-color: white;
    border-radius: 7px;
    border: 1px solid #ccc;
}
table {
    margin: auto;
}

.circle_green { 
    width:1%;
    padding:10px 11px;
    margin:0 auto;
    border:2px solid #a1a1a1;
    border-radius:100%;
    background-color:green;
}