<!doctype html>

<head>
  <title>{% block title %}{% endblock %}Alpha Chi Omega &ndash; Theta Omicron Chapter</title>
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'general/style.css' %}" />
  <link rel="shortcut icon" type="image/png" href="{% static 'general/images/favicon.png' %}" />

</head>

<body style="background-image: url('{% static "general/images/background.png"%}')">

  <div id="container">
    <hr>
    <h1 id="title"><a href="/">ALPHA CHI OMEGA</a></h1>
    <p id = 'subtitle'>THETA OMICRON</p>
    <hr>

    {% if user.is_authenticated %}
<!--       {{user.username}}&nbsp;&nbsp;•&nbsp;<a href="{% url 'logout' %}"> logout</a>&nbsp;&nbsp;•&nbsp;<a href="{% url 'password_change' %}"> change password</a>
      <br> -->
    <div id='nav'>
      <div id = "navlink1">
        <h2><a href="/attendance">attendance</a></h2>
      </div>

      <div class = "navlink">
        <h2><a href="/elections">elections</a></h2>
      </div>

      <div class = "navlink">
        <h2><a href="/house">house</a></h2>
        <!-- <div id="house navigation"> -->
        <!-- </div> -->
      </div>

      
      <div class = "navlink">
        <h2><a href="/resources">resources</a></h2>
        <!-- <div id="resources navigation"> -->
        <!-- </div> -->
      </div>

      <div class = "navlink dropdown">
        <h2><a id='dropbtn'>account</a></h2>
        <div class="dropdown-content">
          <a id='droplink' href="{% url 'logout' %}">logout</a>
          <a id='droplink' href="{% url 'password_change' %}">change password</a>
        </div>
        <!-- <div id="resources navigation"> -->
        <!-- </div> -->
      </div>
    </div>
    {% else %}
    <br>
    <p> Welcome to the sisters-only part of the site! Please <a href="{% url 'login' %}">login</a> to proceed. <br> Or, <a href="{% url 'password_reset' %}">reset your password</a> if you've forgotten. </p>
    {% endif %}
    <br>
    <div id="block">
      <br>
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <div id="credits">
    <a href="{% url 'credits' %}"> made with ♥︎</a>
  </div>

</body>