{% extends "general/base.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'general/style.css' %}" />

<p> 
    This site was made during IAP 2017 by:
    <br><br><b>
    <a href="https://github.com/caitlincassidy" target="_blank"> Caitlin Cassidy '18</a>
    <br>
    <a href="https://github.com/rweinberger" target="_blank"> Rebecca Weinberger '19 </a>
    <br>
    <a href="https://github.com/michalsr" target="_blank"> Michal Shlapentokh-Rothman '19  </a>
    <br></b><br>
    LITB
</p>


{% endblock %}