<!doctype html>

<!--

by reb
xoxo

-->

<html>
  <head>
    <title>lol</title>
    <link rel="stylesheet" type="text/css" href="/../../static/general/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/../../static/general/scripts/shh.js"></script>
  </head>
  <body style='overflow-wrap: break-word;'>
    <div id='counter'>
      <div id='count'>0</div> memes
    </div>
    <button id='ayy'>smash</button>
    <div id='stuff'></div>
  </body>
</html>